/* social-btn */

   #suscribe-text{
    font-weight: bold;
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
    position: relative;
    left:10rem;
    margin-left: 50px;
   font-family:apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
   } 
 
   @media screen and (max-width: 767px){
    #suscribe-text{
      font-size: 28px;
      left: 0rem;
    }
   }
   @media screen and (max-width: 767px){
    #thumbs{
      position: relative;
      left: 40rem;
    }
   }
    .newsletter .content {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2; }
    .newsletter .content h2 {
    color: #ffffff;
    margin-bottom: 40px; }
    .newsletter .content .form-control {
    height: 50px;
    border-color: #d6baba;
    border-radius:10px;
    }
    .newsletter .content.form-control:focus {
    box-shadow:#184b0e;
    border: 2px solid #051f08;
    }
    .newsletter .content .btn {
    min-height: 50px; 
    border-radius:0;
    background: #0c0a81;
    color: #fff;
    font-weight:600;

    }
    #mails{
      width: 70%;
    }
    @media screen and (max-width: 600px) {
     #mails{
      width: 70%;
     }
    }
    #suscribe-text{
      width: 100px;
      height: 100px;
      
    
    }
    
   

    #vote {
      background-color: #2ba805;
      -webkit-border-radius: 60px;
      border-radius: 40px;
      border: none;
      color: #ffffff;
      cursor: pointer;
      display: inline-block;
      font-family: sans-serif;
      font-size: 20px;
      padding: 5px 15px;
      text-align: center;
      text-decoration: none;
    }
    @keyframes glowing {
      0% {
        background-color: #f6f8f6;
        box-shadow: 0 0 5px #ececec;
      }
      50% {
        background-color: #ffffff;
        box-shadow: 0 0 20px #ffffff;
      }
      100% {
        background-color: #2ba805;
        box-shadow: 0 0 5px #2ba805;
      }
    }
    #vote {
      animation: glowing 1300ms infinite;
    }

    /* ANIMATION TEXT ON HOMEPAGE */
    .welcome-text{
      display: inline-block;
      font-family:nightmare pills font;
      font-size: 32px;
      font-weight: 500;
      justify-content: center;
      display: flex;
      bottom: -20rem;
      position: relative;
    }
    
    .typed{
      overflow: hidden;
      white-space: nowrap;
      width: 0;
      animation: typing;
      animation-duration:5s;
      animation-iteration-count: infinite;
      animation-timing-function: steps(30, end);
      animation-fill-mode:both;
    }
      
    @keyframes typing {
      from { width: 0% }
      to { width: 48% }
      from {
        color: black;
      }
      to {
        color:rgb(3, 61, 3);
      }
    }
   
